* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

.container {
    margin: 10px;
    border: 1px solid pink;
    display: flex;
    flex-direction: row-reverse;
    //flex-direction: row;
    //flex-direction: column-reverse;
    //flex-direction: column;
}

.block {
    width: 100px;
    height: 100px;
    background: lightblue;
    border: 5px solid blue;
    border-radius: 10px;
    color: black;
    font-weight: bold;
    text-align: center;
    margin: 10px;
}