* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

.container {
    margin: 10px;
    border: 1px solid red;
    height: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: flex-end;
}

.block {

    background: lightblue;
    border: 5px solid blue;
    border-radius: 10px;
    color: black;
    font-weight: bold;
    text-align: center;
    margin: 10px;
    height: 100px;
    flex-grow: 1;
}
