* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

.container {
    margin: 10px;
    border: 1px solid red;
    height: 700px;
    display: flex;
    justify-content: space-between;
}

.block {

    background: lightblue;
    border: 5px solid blue;
    border-radius: 10px;
    color: black;
    font-weight: bold;
    text-align: center;
    margin: 10px;
    /* flex-basis: 300px; */
    /* flex-gorw: 1; */
    flex: 100px 1 1;
    /* 1ยบ flex-basis
       2ยบ flex-grow
       3ยบ flex-shrink
    */
}

.secound-block {
    background: lightblue;
    border: 5px solid blue;
    border-radius: 10px;
    color: black;
    font-weight: bold;
    text-align: center;
    margin: 10px;
    flex: 100px 4 4;
}