* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

.container {
    margin: 10px;
    border: 1px solid red;
    height: 90vh;
    display: flex;
    width: 300px;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

.block {
    width: 100px;
    height: 100px;
    background: lightblue;
    border: 5px solid blue;
    border-radius: 10px;
    color: black;
    font-weight: bold;
    text-align: center;
    margin: 10px;
}